# Gradle
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IntelliJ IDEA
.idea/
out/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Java
*.class
*.log
*.ctxt
.mtj.tmp/

# Spring Boot
HELP.md

# Environment Variables
.env
.env.*
!.env.example

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
